*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}

/*colores*/
/*fondo     #2b2d42*/
/*tableros  #8d99ae*/
/*botones 1 #ef233c*/
/*botones 2 #d90429*/

body{
	background-color: #2b2d42;
}

/*-----------MAIN CONTAINER----------------*/

#main-container{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background-color: #2b2d42;
}

/*-----------NAV BAR----------------*/
#nav-bar{
	padding: 10px;
	grid-column: 1 / 13;
	background-color: #8d99ae;
	box-shadow: 0.2em 0.5em 0.5em rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

#nav-bar ul{
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-evenly;
}

/*-----------INFO CONTAINER----------------*/

#info-container{
	grid-column: 1 / 7;
	margin: 10px;
}

.info-section{
	margin-top: 10px;
	text-align: justify;
	background-color: #2b2d42;
	color: #2b2d42;
	border-radius: 10px;
	transition: all 1s;
	padding:10px;
}

.info-section h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 100;
	text-align: center;
}

.info-section p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 16px;
}

@media (max-width: 700px){
	#info-container{
		grid-column: 1 / 13;
	}
}

/*-----------PERSONAL CONTAINER----------------*/

#personal-container{
	box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.5);
	font-family: 'Open Sans', sans-serif;
	margin: 0.5em;
	padding: 0.5em;
	background-color:#8d99ae;
	border-radius: 50px;
	grid-column: 7 / 13;
	font-size: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#personal-container h1{
	text-align: center;
}

#image-container {
	height: auto;
	width: 50%;
}

#image-container img{
	box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

@media (max-width: 700px){
	#personal-container{
		grid-column: 4 / 10;
	}
}

/*-----------CONTACT CONTAINER----------------*/

#contact-container{
	font-family: 'Open Sans', sans-serif;
	grid-column: 7 / 13;
}

#contact-container h3{
	text-align: center;
}

#contact-container ul{
	display: flex;
	margin: 10px;
	justify-content: space-evenly;
}

#contact-container ul li{
	margin: 10px;
}

.contact-link{
	font-family: 'Open Sans', sans-serif;
	border-style: solid;
	border-color: #ef233c;
	border-radius: 0px;
	background-color: #ef233c;
	transition: all 0.5s;
}

.contact-link:hover{
	border-radius: 20px;
	color: white;
}

.contact-link a{
	font-weight: 100;
	color:black;
	margin: 1em;
}

@media (max-width: 700px){
	#contact-container{
		grid-column: 4 / 10;
	}
}

/*-----------BUTTONS----------------*/

.link-button{
	box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.5);
	background-color:#ef233c;
	border-style: solid;
	border-color: #ef233c;
	border-radius: 10px;
	display: inline-block;
	transition: all 0.3s;
}

.link-button a{
	font-weight: 100;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: black;
	padding: 0em 2em 0em 2em;
}

.link-button:hover{
	background-color: #d90429;
	border-color: #d90429;
}

